.footer-area {
  background-color: #ffc0cb69;
  padding: 25px;
}
.social-list a {
  padding: 10px;
  border: 2px solid white;
  font-size: 26px;
  margin: 5px;
  color: pink;
  background-color: white;
  border-radius: 5px;
}
